body {
    background-color: #ddbbcf ;
    font-family:Montserrat;
    font-size: 2vw;
    text-transform: capitalize;
    text-align: center;
}
h1{
    color:#666464 ;
    font-size: 6vw;
    margin: 20px;
    padding-top: 20px;
    font-weight: bold;
}
a{
    color: #7a8183 ;
    padding-right: 80px;
    text-decoration-line: none;
    font-weight: bold;
}
nav{
    padding-top: 50px
}
h2{
   color:#515964;
   margin: 80px;
}
h3{
    color: rgb(163, 121, 121);
}
ul{
    list-style: none;
}
img{
    margin: 20px;
}
p{
    line-height: 2;
    font-size: 25px;
}
button{
    background-color: rgb(173, 152, 164);
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px;
}
textarea{
    font-size: 30px;
}
footer{
    color:#666464;
}
#dicton{
    font-size: 2vw;
    color:#6f8088 ;
    margin: 30px;
    border: none;
}
#linkedin{
    text-decoration: underline;
    color: rgb(18, 18, 165);
    padding-left: 50px;
    font-size: 25px;
}
#name{
    font-size: 30px;
}
#email{
    font-size: 30px;
}
#message{
    font: size 130px;
}
.subsection{
    border: 5px solid gray;
    border-radius: 80px;
    margin: 100px;
    padding: 30px;
    line-height: 2;
}
.description{
    font-size: 1rem;
    padding: 10px;
}
