body {
    background-color: #ddbbcf ;
    font-family:Montserrat;
    font-size: 2vw;
    text-transform: capitalize;
    text-align: center;
}
h1{
    color:#666464 ;
    font-size: 6vw;
    margin: 20px;
    padding-top: 20px;
    font-weight: bold;
}
a{
    color: #595b5c ;
    padding-right: 80px;
    text-decoration-line: none;
    font-weight: bold;
}
nav{
    padding-top: 50px
}
h2{
   color:#515964;
   margin: 80px;
}
h3{
    color: rgb(163, 121, 121);
}
p{
    border: 5px solid gray;
    border-radius: 80px;
    margin: 80px;
    padding: 30px;
}
#dicton{
    color:#6f8088 ;
    padding-top: 10px;
    border: none;
}
#linkedin{
    text-decoration: underline;
    color: rgb(18, 18, 165);
    padding-left: 50px;
    font-size: 25px;
}
.subsection{
    border: 5px solid gray;
    border-radius: 80px;
    margin: 80px;
}